name: dependency-review

on:
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/**"
      - ".github/dependabot.yml"

permissions:
  contents: read

jobs:
  dependency-review:
    name: dependency-review
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Dependency review
        uses: actions/dependency-review-action@05fe4576374b728f0c523d6a13d64c25081e0803
        with:
          fail-on-severity: high
